<div class="container">
    <h1 class="center">Edit Task</h1>
    {{#with task}}
        <form action="/tasks/update" method="post" class="form" id="edit-task-form">
            <input type="hidden" name="id" id="id" value="{{id}}" />
            <div class="form-group">
                <label for="title">Title: </label>
                <input type="text" name="title" id="title" minlength="5" maxlength="70" value="{{title}}" placeholder="Task title..." required />
            </div>

            <div class="form-group">
                <label for="description">Description: </label>
                <input type="text" name="description" id="description" minlength="10" maxlength="120" value="{{description}}" placeholder="Task description..." />
            </div>

            <div class="form-group">
                <button class="body-button btn-submit" id="submit" type="submit">Edit</button>        
            </div>

            <a class="body-link" href="/tasks">Go back</a>
        </form>
    {{/with}}
</div>